.header > div {
  padding: 15px;
}

h2, h3, h4, ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.userlist {
  height: 540px;
  overflow: auto;
  border: 1px solid #585858;
}

.userlist li{
  font-size: 15px;
  color: #FFB300;
  padding: 10px;

  cursor: pointer;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
}

.chat_container {
  width: 500px;
  position: fixed;
  top: 60px;
  bottom: 0;
  right: 0;
}

.chat_header {
  border: 1px solid #585858;
  padding: 5px;
  border-bottom: 0;
}

.messages {
  height: 415px;
  border: 1px solid #585858;
  padding: 10px;
}

.message{
  width: 100%;
  margin: 5px;
}

.message > div {
  padding: 5px;
}

.leftMessage {
  background-color: #34A835 !important;
  float: left;
  max-width: 80%;
}

.rightMessage {
  background-color: #116fbf !important;
  float: right;
  max-width: 80%;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8)
}

.loader strong{
  color: #fff;
}
